body {
	font-family: 'Bangers', cursive;
	color: #333;
}

.font {
	font-family: 'Bangers', cursive;
}

.flex {
	display: flex;
}

#root {
	display: flex;
	justify-content: center
}

.main {
	padding: 50px;
	border: 1px solid black;
	width: 550px;
}

.login {
	display:flex;
	flex-direction:column;
	padding-top:50px;
}

.login-row {
	display: flex;
	padding: 10px 10px 10px 0px;
	margin: 5px 5px 5px 0px;
}

.login-row_label {
	font-size: 2rem;
	flex: 1;
}

.login-row_input {
	display: flex;
	font-size: 1.25rem;
	flex: 1;
	flex-direction: column;
}

.login-row_tbox {
	flex: 5;
}

.login-row_icolor {
	flex: 1;
    border-radius: 5px;
	margin: 1px;
}

.icolor-accept {
	animation-name: icolor-accept;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
.icolor-reject {
	animation-name: icolor-accept;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@keyframes icolor-accept { 100% {background-color: #0ca00c; } }
@keyframes icolor-reject { 100% {background-color: #ca3d11; } }

.login-button {
	padding: 10px;
	font-size: 2rem;
	margin-right: 50px;
}

.login-text-div {
	display: flex;
	align-items: flex-end;
}

@media only screen and (max-device-width: 480px) {
	.main {
		width: 100%;
	}
}